{% extends 'base.html.twig' %}

{% block title %}Measurement index{% endblock %}

{% block body %}
    <h1>Measurement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Measurement_date</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.measurementDate ? measurement.measurementDate|date('Y-m-d') : '' }}</td>
                <td>{{ measurement.temperature }}</td>
                <td>{{ measurement.humidity }}</td>
                <td>{{ measurement.pressure }}</td>
                <td>
                    <a href="{{ path('app_measurement_show', {'id': measurement.id}) }}">show</a>
                    <a href="{{ path('app_measurement_edit', {'id': measurement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_measurement_new') }}">Create new</a>
{% endblock %}
